<button
  type="{% if layout == 'sticky' %}button{% else %}submit{% endif %}"
  class="{% if layout == 'sticky' %}sticky__add-to-cart-btn {% else %}{% endif %}add-to-cart-button button--secondary cursor-pointer w-full disabled:cursor-not-allowed focus-visible"
  {% if layout == 'sticky' %}
    data-sticky-submit
  {% endif %}
  data-add-to-bag-text="{{ 'products.product.add_to_bag' | t | escape }}"
  data-sold-out-text="{{ 'products.product.sold_out' | t | escape }}"
  {% unless product.selected_or_first_available_variant.available %}
    disabled
  {% endunless %}
>
  <span aria-live="polite" aria-hidden="true">
    {%- if product.selected_or_first_available_variant.available -%}
      {{ 'products.product.add_to_bag' | t | escape }}
    {%- else -%}
      {{ 'products.product.sold_out' | t | escape }}
    {%- endif -%}
  </span>
  <span class="sr-only">
    {%- if product.selected_or_first_available_variant.available -%}
      {{- 'products.product.add_to_bag' | t | escape -}}
    {%- else -%}
      {{- 'products.product.sold_out' | t | escape -}}
    {%- endif -%}
  </span>
</button>
