{% comment %}
  Renders product options

  Usage:
  {% render 'product-options' %}
{% endcomment %}

<div class="product_option w-full flex flex-col gap-6">
  {%- for option in product.options_with_values -%}
    {%- assign option_name_normalized = option.name | downcase | strip -%}

    <div class="product__options flex flex-col gap-3">
      <div class="product__options--name">
        {%- if option_name_normalized contains 'size'
          or option_name_normalized contains 'shoe size'
          or option_name_normalized contains 'розмір'
        -%}
          <div class="product__options-name subtitle flex justify-between items-center w-full">
            <span class="">{{ 'products.product.select_size' | t | escape }}</span>
            <button
              {{ shopify_attributes }}
              type="button"
              class="open-size-guide subtitle underline cursor-pointer shrink-0"
              aria-controls="sizeGuideModal"
            >
              {{- 'buttons.size_guide' | t -}}
            </button>
          </div>
        {%- endif -%}
      </div>

      {%- if option_name_normalized contains 'color'
        or option_name_normalized contains 'colour'
        or option_name_normalized contains 'колір'
      -%}
        <div class="product__options-values flex flex-wrap gap-2">
          {%- for value in option.values -%}
            {%- assign variant = value.variant -%}
            {%- assign image_url = variant.featured_image | image_url: width: 88 -%}
            <div class="product__option-value product__color-option">
              <label
                for="{{ option.name | handleize }}-{{ forloop.index }}"
                class="cursor-pointer"
                title="{{ value.name }}"
              >
                <input
                  type="radio"
                  value="{{ variant.id }}"
                  id="{{ option.name | handleize }}-{{ forloop.index }}"
                  name="{{ option.name }}"
                  class="sr-only peer color-input"
                  data-media-id="{{ variant.featured_media.id }}"
                  {% if option.selected_value == value %}
                    checked
                  {% endif %}
                >
                {% if image_url != blank %}
                  <span
                    class="color__option block w-22 h-22 peer-checked:ring peer-checked:ring-black bg-center bg-cover focus-visible"
                    style="background-image:url({{ image_url }});"
                    tabindex="0"
                  ></span>
                {% else %}
                  <span
                    class="block w-10 h-10 rounded-full ring-1 peer-checked:ring peer-checked:ring-offset-1 peer-checked:ring-black focus-visible"
                    style="background-color:{{ value.name | downcase }};"
                    tabindex="0"
                  ></span>
                  <span class="sr-only">{{ value.name }}</span>
                {% endif %}
              </label>
            </div>
          {%- endfor -%}
        </div>

      {%- elsif option_name_normalized contains 'size'
        or option_name_normalized contains 'shoe size'
        or option_name_normalized contains 'розмір'
      -%}
        <div class="product__options-values grid grid-cols-2 lg:grid-cols-3 gap-2">
          {%- for value in option.values -%}
            {%- assign variant = value.variant -%}

            <div class="product__option-value product__size-option">
              <label
                for="size-{{ forloop.index }}"
                class="chip cursor-pointer size-label focus-visible"
              >
                <input
                  type="radio"
                  value="{{ value.variant.id }}"
                  id="size-{{ forloop.index }}"
                  name="Size"
                  class="sr-only peer"
                  {% if option.selected_value == value %}
                    checked
                  {% endif %}
                >
                <span
                  tabindex="0"
                  class="
                     size__option block subtitle text-center peer-checked:ring p-4 focus-visible
                      {% unless variant.available %}
                    line-through opacity-50
                     {% endunless %}
                  "
                >
                  {{ value.name }}
                </span>
              </label>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>
