{% comment %}
  Renders product images

  Usage:
  {% render 'product-media-slider' %}
{% endcomment %}

<div
  class="product_image gap-4 xl:gap-6"
  aria-label="{{ 'products.product.media_gallery_viewer' | t | escape }}"
  id=" ProductMedia-{{ section.id }}"
>
  <div
    class="swiper thumbSwiper w-full"
    role="group"
    aria-roledescription="{{ 'products.product.media_thumbnail_images' | t | escape }}"
    aria-label="{{ 'products.product.media_thumbnail_images' | t | escape }}"
  >
    <div class="swiper-wrapper">
      {%- for media in product.media -%}
        <div
          class="swiper-slide cursor-pointer focus-visible"
          data-media-id="{{ media.id }}"
          aria-label="Show image {{ forloop.index }} of {{ product.media.size }}"
          role="button"
          tabindex="0"
        >
          {%- if media.media_type == 'video' -%}
            {{
              media
              | video_tag: autoplay: true, loop: true, muted: true, controls: true, class: 'w-full h-full object-cover'
            }}

          {%- elsif media != blank -%}
            {%- assign alt_text = media.preview_image.alt | default: product.title -%}
            {{-
              media
              | image_url: width: 88, height: 88
              | image_tag:
                loading: 'lazy',
                width: 88,
                height: 88,
                alt: alt_text,
                fetchpriority: 'high',
                class: 'w-full h-auto object-cover'
            -}}
          {%- else -%}
            {{- 'product-2' | placeholder_svg_tag: 'placeholder-img' -}}
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
  <div
    class="swiper mainSwiper w-full mb-4 sm:mb-4 lg:mb-4"
    role="region"
    aria-roledescription="{{ 'products.product.media_main_images' | t}}"
    aria-label="{{ 'products.product.media_main_images' | t | escape }}"
  >
    <div class="swiper-wrapper">
      {%- for media in product.media -%}
        <div
          class="image-container swiper-slide flex relative"
          role="group"
          aria-label="Image {{ forloop.index }} of {{ product.media.size }}"
          data-media-id="{{ media.id }}"
          {%- if media.id == selected_variant.featured_media.id -%}
            data-initial-media="true"
          {%- endif -%}
        >
          {%- if media.media_type == 'video' -%}
            {{
              media
              | video_tag: autoplay: true, loop: true, muted: true, controls: true, class: 'w-full h-full object-cover'
            }}
          {%- else -%}
            {% render 'tags', stars: stars %}
            {%- assign alt_text = media.preview_image.alt | default: product.title -%}
            {{-
              media
              | image_url: width: 536, height: 536
              | image_tag:
                loading: 'eager',
                width: 536,
                height: 536,
                alt: alt_text,
                sizes: '(max-width: 768px) 100vw, 50vw',
                widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
                fetchpriority: 'high',
                class: 'w-full h-full object-cover'
            -}}
          {%- else -%}
            {{- 'product-2' | placeholder_svg_tag: 'placeholder-img' -}}
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
