{% comment %}
  Recommended (related) products slider snippet

    Usage: {% render 'recommended-products-slider',
          recommendations: recommendations,
          heading: section.settings.heading,
          section_id: section.id
        %}
{% endcomment %}

{%- if recommendations.performed? and recommendations.products_count > 0 -%}
  <h2 class="h2 text-center section-title pb-8 md:pb-12">{{ section.settings.heading }}</h2>
  <div
    class="swiper slider-products relative"
    aria-roledescription="carousel"
    aria-label="{{ section.settings.heading }}"
    id="Slider-{{ section.id }}"
  >
    <div class="swiper-wrapper">
      {%- for product in recommendations.products -%}
        <div class="swiper-slide">
          {% render 'product-card', product: product %}
        </div>
      {%- endfor -%}
    </div>
    <div
      class="swiper-button-next rounded-full border items-center justify-center absolute top-1/4 -translate-y-1/2"
      name="next"
      aria-label="{{ 'slider.slideshow.next_slideshow' | t }}"
      aria-controls="Slider-{{ section.id }}"
    >
      {{ 'custom-icon-arrow.svg' | inline_asset_content }}
    </div>
    <div
      class="swiper-button-prev rounded-full border items-center justify-center rotate-180 absolute top-1/4 -translate-y-1/2"
      name="prev"
      aria-label="{{ 'slider.slideshow.previous_slideshow' | t }}"
      aria-controls="Slider-{{ section.id }}"
    >
      {{ 'custom-icon-arrow.svg' | inline_asset_content }}
    </div>
  </div>

{%- else -%}
  <h2 class="empty-product-message">{{ 'products.product.no_recommended_products' | t }}</h2>
{%- endif -%}
