{% comment %}
  Sticky add to cart snippet

  Usage:
   {% render 'sticky-add-to-cart', product: product %}
{% endcomment %}

{% assign color_option_index = 0 %}
{% for option in product.options_with_values %}
  {% assign option_name = option.name | downcase %}
  {% if option_name contains 'color' %}
    {% assign color_option_index = forloop.index0 %}
  {% endif %}
{% endfor %}
{% assign selected_color = product.selected_or_first_available_variant.options[color_option_index] | downcase | strip %}

<div
  class="sticky__add-to-cart full-width fixed bottom-0 left-0 right-0 z-50 bg-white"
  id="Sticky -{{ section.id }}"
  data-sticky-add-to-cart
>
  <div class="sticky__wrapper p-4 md:px-15 md:py-4 w-full flex gap-2.5 justify-between items-center">
    <div class="left__side flex gap-3">
      <div
        class="product__image h-14 w-14 hidden sm:block"
        data-media-id="Image-{{ selected_color }}"
        aria-label="Image-{{ selected_color }}"
        role="button"
        tabindex="0"
        data-color="{{ selected_color }}"
      >
        {{
          product.selected_or_first_available_variant.featured_image
          | image_url: width: 54, height: 54
          | image_tag:
          loading: 'lazy',
          width: 54,
          height: 54,
          alt: product.selected_or_first_available_variant.featured_image.alt,
          class: 'w-full h-full object-cover rounded-lg',
          data-sticky-image
        }}
      </div>
      <div class="product__info flex flex-col justify-between">
        <h2 class="body">{{ product.title }}</h2>
        {% render 'product-price', product: product, layout: 'sticky-price' %}
      </div>
    </div>

    <div class="right__side product-form flex gap-8 justify-center items-center">
      <div class="hidden sm:flex sm:gap-3 lg:gap-8 sm:flex-col lg:flex-row">
        <div class="product__options subtitle product__color-option flex gap-1.5  items-center">
          {%- for option in product.options_with_values -%}
            {%- assign option_name_normalized = option.name | downcase | strip -%}
            {% if option_name_normalized contains 'color'
              or option_name_normalized contains 'colour'
              or option_name_normalized contains 'колір'
            -%}
              <span class="value__title">{{ 'Color' | escape }}: </span>
              {% render 'color-option', option: option, layout: 'sticky' %}
            {%- endif %}
          {% endfor %}
        </div>

        <div class="product__options subtitle size-option flex items-center">
          {% for option in product.options_with_values %}
            {% assign option_name_normalized = option.name | downcase | strip %}
            {% if option_name_normalized contains 'size'
              or option_name_normalized contains 'shoe size'
              or option_name_normalized contains 'розмір'
            %}
              <div class="relative">
                <button
                  type="button"
                  class="product_option-value cursor-pointer flex items-center gap-1.5"
                  data-size-trigger
                >
                  <span class="value__title">{{ 'Size' | escape }}:</span>
                  <span data-size-label>
                    {{ option.selected_value | default: 'Select size' }}
                  </span>
                  {{ 'details-icon.svg' | inline_asset_content }}
                </button>

                <div
                  class="fixed z-50 hidden"
                  data-size-popover
                  style="top:0; left:0;"
                >
                  <div class="product_size-option p-4 w-50 text-center flex flex-col gap-2.5">
                    {% render 'size-option', option: option, layout: 'sticky' %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="sticky__add-to-cart-btn">
        {% render 'atc-button', product: product, layout: 'sticky' %}
      </div>
    </div>
  </div>
</div>
